

{% extends 'main.html' %}

{% load staticfiles %}
{% block about %}
<br>
<div>
<img src="{% static 'dj_python.jpg' %}" align="left" style="margin:5px;border: 2px solid #D8D8D8;">
<p>Django (Джанго) — свободный фреймворк для веб-приложений на языке Python, использующий шаблон проектирования MVC.
Проект поддерживается организацией Django Software Foundation.</p>

<p>Сайт на Django строится из одного или нескольких приложений, которые рекомендуется делать отчуждаемыми и подключаемыми.
Это одно из существенных архитектурных отличий этого фреймворка от некоторых других (например, Ruby on Rails). Один из основных
принципов фреймворка — DRY (англ. Don't repeat yourself)</p>

<p>Также, в отличие от других фреймворков, обработчики URL в Django конфигурируются явно при помощи регулярных выражений, а
не выводятся автоматически из структуры моделей контроллеров.</p>

<p>Для работы с базой данных Django использует собственный ORM, в котором модель данных описывается классами Python, и по ней
генерируется схема базы данных.</p>

<p><h4>Разработчики</h4></p>
<ul>
    <li>Расселл Кейт-Маги (англ. Russell Keith-Magee)</li>
    <li>Адриан Головатый (англ. Adrian Holovaty),</li>
    <li>Саймон Виллисон (англ. Simon Willison),</li>
    <li>Джейкоб Каплан-Мосс (англ. Jacob Kaplan-Moss),</li>
    <li>Уилсон Майнер (англ. Wilson Miner)</li>
</ul>
Разработчики заявляют, что не обязуются строго придерживаться какой бы то ни было методологии в развитии проекта,
предпочитая делать то, что кажется им наиболее логичным.
</div>

{% endblock %}

{% include 'archive.html' %}
{% block archive %}{% endblock %}