
{% extends 'main.html' %}

{% block article %}

<br>
<div>
<h2>{{ article.article_title }}</h2>
<h4 class="warning label">{{ article.article_date }}</h4>
<div>{{ article.article_text|linebreaks }}</div>
<hr>
</div>

<p class="alert-box">Комментарии: </p>
<div class="large-offset-1 large-8 columns">
{%  for comment in comments %}
    <blockquote>
    <p class="black_color">{{ comment.comments_text }}</p>
    <cite>
        {{ comment.comments_from.username }},                                                {{comment.comments_date}}
    </cite>
    </blockquote>
{% endfor %}
    {% if username %}
    <form action="/articles/addcomment/{{ article.id }}/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" class="button" value="Добавить комментарий">
    </form>
    {% endif %}

 </div>
{% endblock %}