{% extends 'main.html' %}
{% load staticfiles %}

{% block articles %}

<div class="row">
    <div class="large-8 columns">
    {% for article in articles %}
        <fieldset style="border: 2px solid #4B9DBB;">
            <legend><h4><a href="/articles/get/{{ article.id }}/" class="white" >{{ article.article_title }}</a></h4></legend>

            <p class="article_content">{{ article.article_text|linebreaks|truncatechars:300 }}</p>
            <div class="panel radius article-footer" style="padding-bottom: 2px; padding-top: 10px;">
                <span class="large-text-center label"> {{ article.article_likes }}  </span>
                <a href="/articles/addlike/{{ article.id }}/">
                <img src="{% static 'thumb24.png' %}" width="20px" height="20px"></a>
                <p class="right my_date">Дата публикации: {{ article.article_date }}</p>
            </div>
        </fieldset>
    {% endfor %}
    </div>
    <div class="large-4 columns">


{% include 'archive.html' %}
        {% block archive %}{% endblock %}
    </div>
</div>

<div class="row">
    <div class="large-3 large-offset-5 columns">
        <ul class="pagination">
            {% if articles.has_previous %}
                <li class="arrow"><a href="/page/{{ articles.previous_page_number }}/">&laquo;</a></li>
            {% else %}
                <li class="arrow unavailable"><a href="">&laquo;</a></li>
            {% endif %}
            {% for page in articles.paginator.page_range %}
                {% if page == articles.number %}
                    <li class="current"><a href="/page/{{ page }}/">{{ page }}</a></li>
                {% else %}
                    <li><a href="/page/{{ page }}/">{{ page }}</a></li>
                {% endif %}
            {% endfor %}

            {% if articles.has_next %}
                <li class="arrow"><a href="/page/{{ articles.next_page_number }}/">&raquo;</a></li>
            {% else %}
                <li class="arrow unavailable"><a href="">&raquo;</a></li>
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}